
.jumbotron{
    /*background-image: url("../newspaper.jpeg") !important;
    background-repeat: no-repeat;
    background-size:cover;*/
    font-family: 'Special Elite', cursive;
    opacity: 0.9;
    background-color:#00FFFF !important;
    background: wheat !important /* linear-gradient(to top, white, Wheat) !important;*/
}
/*.container{
    background-image:url("../newspaper.jpeg")
}*/
.membersDiv{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right: auto; 
    margin-left:auto;
}
.members{
    border-right:1px solid black; 
    padding-right:3px; 
    margin-right:3px;
}
.copyright{
    float:left;
    margin-right:5px;
}
.card{
    /*opacity: 0.9;
    background: wheat !important linear-gradient(to top, white,Wheat) !important;*/
    width: 100%;
}
.far::after{
    content:'';
    margin-right:3px;
}
.card-header{
    opacity: 0.9;
    border: 1px solid wheat;
    border-radius: 5px;
    background: linear-gradient(to left, white,Wheat) !important;
}

body,
html{
    background-image:url("../image/background.jpeg")
}

.nav{
    background: wheat !important;
    height: 75px;
    border-bottom: 10px solid black !important;
    text-align: center !important;
}
.description-text{
    line-height: 30px;
}
/* 
.dropdown {
    margin-left: 87%;
    padding-top: 2%;
} */

/* #heading {
    font-family: monospace;
    margin-top: 50%;
}
 */

/* h1 {
    margin-top: 2%;
    text-align: center;
} */

.input {
    font-family: monospace;
    padding: 5px;
    width: 98%;
    font-size: 100%;
}


#info {
    float: right;
    text-align: center;
    font-family: monospace;
    border-collapse: collapse;
    width: 60%;
    padding: 10px;
    border: 1px solid black;
    margin-top: 3%;
}

#article {
    float: right;
    text-align: center;
    font-family: monospace;
    border-collapse: collapse;
    width: 60%;
    padding: 10px;
}

.fixed-bottom {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    padding-bottom: 8%;
    text-align: center;

}
 
.portfolio:hover {
    border: 3px solid lightseagreen;
    color : lightseagreen;
}
@media screen and (max-width: 600px) {
    .membersDiv{
      font-size: 50%;
  }
}
